---
import Layout from "@/components/Layout.astro"
import inspiration from "../inspiration.json"
import { getPosts } from "@/utils/posts"

const posts = await getPosts()
---

<Layout>
  <header>
    <div class="inline-block w-24 py-8">
      <img class="rounded-full" src="/mike.jpeg" alt="Mike" />
    </div>
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold">Hi, I'm Mike!</h1>
    </div>
  </header>

  <main class="pb-8 pt-6 md:pb-32">
    <p>
      I’m Mike Arvela, a web developer and family guy. I live in Tampere, a
      mighty fine town in Northern Europe.
    </p>

    <p>
      I enjoy working with people and technology. I’m thrilled by smooth web
      experiences and am a fan of life-long learning.
    </p>

    <p>
      You can find me on <a href="https://twitter.com/mieky">Twitter</a>,
      <a href="https://github.com/mieky">GitHub</a>, <a
        href="https://www.linkedin.com/in/arvela">LinkedIn</a
      > and <a href="https://www.goodreads.com/user/show/1011336-mike-arvela"
        >Goodreads</a
      >.
    </p>

    <section class="py-4">
      <h2 class="mb-4 text-2xl font-semibold">Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a class="underline" href={post.href}>
                {post.title}
              </a>
              <p class="text-slate-700">{post.description}</p>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="py-4">
      <h2 class="mb-4 text-2xl font-semibold">Inspiration</h2>
      <p>
        In a time where there's an abundance of fluff and little focus to the
        really good stuff, I feel like sharing some of the things I really like.
      </p>
      <ul>
        {
          inspiration.map((item) => (
            <li>
              <a class="underline" href={item.url}>
                {item.name}
              </a>
              <p class="text-slate-500">{item.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>

  <footer>
    <p class="pb-8 text-sm text-slate-600">
      ✌🏻 Site built with Astro and hosted on Cloudflare pages. Source in GitHub.
    </p>
  </footer>
</Layout>
