---
import Layout from "@/components/Layout.astro"
import inspiration from "../inspiration.json"
import { getPosts } from "@/utils/posts"

const posts = await getPosts()
---

<Layout>
  <header>
    <div class="inline-block w-24 py-12">
      <img class="rounded-full" src="/mike.jpeg" alt="Mike" />
    </div>
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold">Hi, I'm Mike!</h1>
    </div>
  </header>

  <main class="pb-8 pt-6 md:pb-32">
    <p>I’m a software developer from Tampere, a nice little town in Finland.</p>

    <p>
      I've been creating things on the web for fun as well as for living for the
      last 20 years, yet in many ways I feel I'm only getting started. I tend to
      get inspired by people, especially when they're kind and creative. Always
      up for new friends and ideas!
    </p>

    <p>
      You can find me on <a href="https://twitter.com/mieky">Twitter</a>,
      <a href="https://github.com/mieky">GitHub</a>, <a
        href="https://www.linkedin.com/in/arvela">LinkedIn</a
      > and <a href="https://www.goodreads.com/user/show/1011336-mike-arvela"
        >Goodreads</a
      >.
    </p>

    <section class="py-6">
      <h2 class="mb-4 text-2xl font-semibold">Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a class="font-semibold text-slate-700" href={post.href}>
                {post.title}
              </a>
              <div class="mb-4 text-zinc-450">{post.description}</div>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="py-6">
      <h2 class="mb-4 text-2xl font-semibold">Inspiration</h2>
      <p>
        In a time where there's an abundance of fluff and little focus on the
        really good stuff, I feel like sharing some of the things I really like.
      </p>
      <ul>
        {
          inspiration.map((item) => (
            <li>
              <a class="font-semibold text-slate-700" href={item.url}>
                {item.name}
              </a>
              <div class="mb-4 text-zinc-450">{item.description}</div>
            </li>
          ))
        }
      </ul>
    </section>
  </main>

  <footer>
    <p class="pb-8 text-sm text-slate-600">
      ✌🏻 Site built with <a href="https://astro.build/">Astro</a> and hosted on href="https://github.com/mieky/mike.fi">GitHub
    </p>.
  </footer>
</Layout>
