---
interface Props {
	title: string;
	description: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />

    <title>{Astro.props.title}</title>

    <!-- OpenGraph -->
    <meta name="og:title" content={Astro.props.title} />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en" />
    <meta property="og:description" content={Astro.props.description} />
    <meta property="og:site_name" content="Mike Arvela" />
    <meta property="og:url" content="https://mike.fi" />
    <meta property="og:image" content="https://mike.fi/favicon.png" />
    <meta property="og:image:alt" content="Mike Arvela" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="mike.fi" />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="twitter:description" content={Astro.props.description} />

    <link rel="apple-touch-icon" href="/favicon.png" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="360x360" />
  </head>

  <body class="mx-auto max-w-2xl px-4 text-slate-700 md:pt-12">
    <slot />
  </body>

  <style>
    html {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }
    code {
      font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    }
  </style>
  <style lang="postcss">
    :global(a) {
      /* Not too shabby? @apply hover:underline underline underline-offset-2 font-medium hover:text-pink-700 text-sky-700; */
      @apply hover:underline underline underline-offset-2 font-medium hover:text-pink-700;
    }
  </style>
</html>
